@import 'tailwindcss';

@source "../**/*.{ts,tsx}";
@source "../../packages/design-system/components/**/*.{ts,tsx}";
@source "../../packages/design-system/hooks/**/*.{ts,tsx}";

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
